@charset "UTF-8";
$baseSize:16px;

$colorful1: #ff751f;
$colorful2: #71b522;
$colorful3: #3988fb;
$colorful4: #ffd600;

@function pxToRem($px) {
  @return $px/$baseSize*1rem;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #f5f5f6;
  overflow: hidden;
}

.home-container {
  .top {
    width: 100%;
    position: relative;
    height: pxToRem(250px);

    h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      text-align: center;
      font-size: pxToRem(24px);
      color: #fff;
      z-index: 2;

      transform: translate3D(-50%, -50%, 0);
      -webkit-transform: translate3D(-50%, -50%, 0);
    }
    .firework-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: pxToRem(250px);
      background: #16a085;
      z-index: 1;

      #fireworksField {
        width: 100%!important;
        height: 100% !important;
      }
    }
  }
  .content {

    .box {
      display: -webkit-flex; /* Safari */
      display: flex;
      width: 80%;
      position: relative;
      margin: pxToRem(50px) auto 0 auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      transform-style: preserve-3d;

      .list {
        width: 100%;
        height: pxToRem(55px);
        margin-bottom: pxToRem(20px);
        border-radius: pxToRem(10px);
        font-size: pxToRem(16px);
        text-align: center;
        line-height: pxToRem(55px);

        opacity: 0;
        transform: translateZ(pxToRem(-100px)) scale(50);
        -webkit-transform: translateZ(pxToRem(-100px)) scale(50);
        transition: all .5s;
        -webkit-transition: all .5s;

        &.color1 {
          background: $colorful1;
          color: #fff;
        }

        &.color2 {
          background: $colorful2;
          color: #fff;
        }

        &.color3 {
          background: $colorful3;
          color: #fff;
        }

        &.color4 {
          background: $colorful4;
          color: #000;
        }

        &.flyInto {
          opacity: 1;
          transform: translateZ(0) scale(1);
          -webkit-transform: translateZ(0) scale(1);
        }

        .fa {
          display: inline-block;
          margin-right: pxToRem(5px);
        }
      }
    }
  }
}

.user-list-box {
  .add-user-box {
    width: pxToRem(300px);
    margin: pxToRem(30px) auto 0 auto;
  }

  .add-btn {
    position: fixed;
    right: pxToRem(10px);
    bottom: pxToRem(10px);
  }
}

.set-pool-box {
  .alert-chip {
    width: 100% !important;

    span {
      display: block;
      margin: 0 auto;
    }
  }

  .prize-pool {
    display: block;
    line-height: pxToRem(40px);
    font-size: pxToRem(16px);
    text-align: center;
    color: #333;
  }

  .add-list {
    padding: pxToRem(10px);
  }
}

// dialog 中的样式
.add-input {
  width: 100% !important;
}

.swipe-list-group {

  .no-name,
  .no-list {
    text-align: center;
    line-height: pxToRem(50px);
    color: #ccc;
    font-size: pxToRem(16px);
  }

  .empty {
    height: pxToRem(50px);
  }

  li {
    display: block;
    position: relative;
    transition: all .2s;
    -webkit-transition: all .2s;

    &.moving {
      transform: translate(pxToRem(20px), pxToRem(-20px));
      -webkit-transform: translate(pxToRem(20px), pxToRem(-20px));
      height: 0;
      z-index: 90;

      &.done {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        z-index: auto;
      }
    }
    
    .container {
      position: relative;
    }

    .face {
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid #ccc;
      z-index: 2;
      background: #fff;

      &.prize-list {
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;

        .one-third {
          width: 30%;
          height: pxToRem(50px);
          line-height: pxToRem(50px);
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space:nowrap;
        }
      }

      .user-head {
        float: left;
        width: 20%;

        span {
          display: block;
          width: pxToRem(40px);
          height: pxToRem(40px);
          margin: pxToRem(5px) auto pxToRem(5px) auto;
          border-radius: 50%;
          line-height: pxToRem(40px);
          text-align: center;
          font-size: pxToRem(16px);
        }
      }

      .user-name {
        float: left;
        width: 80%;
        padding: pxToRem(5px);
        font-size: pxToRem(16px);
        line-height: pxToRem(40px);
        color: #333;
      }
    }

    .delete-btn {
      position: absolute;
      right: 0;
      top: 0;
      width: pxToRem(100px);
      height: pxToRem(50px);
      background: #F44336;
      color: #fff;
      font-size: pxToRem(16px);
      line-height: pxToRem(50px);
      text-align: center;
      z-index: 1;

      &.up {
        z-index: 100;
      }
    }

    .top-btn {
      position: absolute;
      left: 0;
      top: 0;
      width: pxToRem(100px);
      height: pxToRem(50px);
      background: #2196F3;
      color: #fff;
      font-size: pxToRem(16px);
      line-height: pxToRem(50px);
      text-align: center;
      z-index: 1;

      &.up {
        z-index: 100;
      }
    }
  }

  .go-next {
    display: block!important;
    width: pxToRem(160px);
    margin: pxToRem(20px) auto pxToRem(20px) auto;
  }
}

// 透明蒙版
.transparent-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
}

// 随机颜色头像池
.red900 {
  background: #B71C1C;
  color: #FFF;
}
.red500 {
  background: #F44336;
  color: #FFF;
}
.red300 {
  background: #E57373;
  color: #000;
}

.purple900 {
  background: #4A148C;
  color: #FFF;
}
.purple500 {
  background: #9C27B0;
  color: #FFF;
}
.purple300 {
  background: #BA68C8;
  color: #FFF;
}

.blue900 {
  background: #0D47A1;
  color: #FFF;
}
.blue500 {
  background: #2196F3;
  color: #FFF;
}
.blue300 {
  background: #64B5F6;
  color: #000;
}

.green900 {
  background: #1B5E20;
  color: #FFF;
}
.green500 {
  background: #4CAF50;
  color: #000;
}
.green300 {
  background: #81C784;
  color: #000;
}

.yellow900 {
  background: #F57F17;
  color: #000;
}
.yellow500 {
  background: #FFEB3B;
  color: #000;
}
.yellow300 {
  background: #FFF176;
  color: #000;
}

